<div class="demo-container">
  <div class="col-left">
    <h2>Custom web component test</h2>
    <z-product-card *ngFor="let product of products" [product]="product" class="product-grid-item" (productLiked)="onProductLiked($event)"></z-product-card>
  </div>
  <div class="col-right">
    <h2>Liked products</h2>
    <ul class="liked-products">
      <li *ngFor="let liked of likedProducts">
        <img [src]="liked.image"
             alt="liked.name">{{liked.name}}
      </li>
    </ul>
  </div>
</div>